@charset "utf-8";
/* CGV PJ 공통클래스/웹폰트 CSS - core.css */
/* 웹폰트, 공용클래스 */

@import url(//cdn.design-factory.co.kr/_font/nexon_lv2_gothic/fonts.css);
@import url(//cdn.design-factory.co.kr/_font/poppins/fonts.css);
@import url(//cdn.design-factory.co.kr/_font/gotham/fonts.css);

/*
font-family:"Gotham", sans-serif;
font-family:"NotoSansKR", sans-serif;
font-family:"NEXON Lv2 Gothic", sans-serif;
font-family:"Poppins", sans-serif;
*/

/********** 2. 공통 class **********/

.ibx {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    display: block;
}

.section {
    height: 969px;
    outline: 1px dashed gray;
}

#info .section{
    height: 500px;
    background-color: orange;
}
