@charset "UTF8";
/* CGV PJ 공통클래스/웹폰트 CSS - core.css */
/* 웹폰트, 공용클래스 */

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}