@charset "utf-8";
/* 커피베이 포트폴리오 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
/********** 2. 메인영역 **********/
.GNB1 {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.26);
}
/***** 2-1. 섹션1 *****/
/*** 2-1-1. 배너 ***/
#slide {
    /* position: relative; */
    display: block;
}
#slide li {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}
#slide li.on {
    opacity: 1;
    z-index: -1;
}
#slide li:nth-child(1) {
    background: url(../images/main01.png) no-repeat center/cover;
}
#slide li:nth-child(2) {
    background: url(../images/main02.png) no-repeat center/cover;
}
#slide li:nth-child(3) {
    background: url(../images/main03.png) no-repeat center/cover;
}
#slide li:nth-child(4) {
    background: url(../images/main04.png) no-repeat center/cover;
}
#slide li:nth-child(5) {
    background: url(../images/main05.png) no-repeat center/cover;
}
#slide li:nth-child(6) {
    background: url(../images/main06.png) no-repeat center/cover;
}
/*** 2-1-2. 왼쪽 숫자바 ***/
.left_nav {
    position: fixed;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    z-index: 100;
}
.nav_cont .txt {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: center;
    font-family: "Gotham", sans-serif;
}
.bar {
    width: 2px;
    height: 133px;
    margin: 0 auto;
    background-color: #666666;
    position: relative;
    top: 0;
    left: 0;
}
.bar .line {
    width: 100%;
    height: 19px;
    margin: 0 auto;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.32);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease;
}
/* 2-1-3. 배너슬라이드 */
.slide_cont {
    width: 100%;
    max-width: 905px;
    margin: 0 auto;
    position: absolute;
    bottom: 24.5%;
    left: 0;
    right: 0;
    z-index: 10;
}
.prev_btn {
    cursor: pointer;
    float: right;
    width: 100%;
    max-width: 5.5%;
}
.prev_btn img {
    max-width: 100%;
}
.next_btn {
    cursor: pointer;
    float: right;
    width: 100%;
    max-width: 5.5%;
    margin-left: 1.4%;
}
.next_btn img {
    max-width: 100%;
}

.pt2 {
    padding-top: 106px;
}

