@charset "utf-8";
/* 커피베이 포트폴리오 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

html,body {
    overflow: hidden;
}

/********** 2. 메인영역 **********/
.nav1 {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.26);
}

/***** 2-1. 섹션1 *****/
/*** 2-1-1. 메인배너 슬라이드 ***/
#slide a {
    cursor: pointer;
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}
#slide a.on {
    opacity: 1;
    z-index: -1;
}
#slide a:nth-child(1) {
    background: url(../images/main01.png) no-repeat center/cover;
}
#slide a:nth-child(2) {
    background: url(../images/main02.png) no-repeat center/cover;
}
#slide a:nth-child(3) {
    background: url(../images/main03.png) no-repeat center/cover;
}
#slide a:nth-child(4) {
    background: url(../images/main04.png) no-repeat center/cover;
}
#slide a:nth-child(5) {
    background: url(../images/main05.png) no-repeat center/cover;
}
#slide a:nth-child(6) {
    background: url(../images/main06.png) no-repeat center/cover;
}

/*** 2-1-2. 왼쪽 숫자바 ***/
.left_nav {
    position: fixed;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    z-index: 100;
}
.nav_cont .txt {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: center;
    font-family: "Gotham", sans-serif;
}
.bar {
    width: 2px;
    height: 133px;
    margin: 0 auto;
    background-color: #666666;
    position: relative;
    top: 0;
    left: 0;
}
.bar .line {
    width: 100%;
    height: 19px;
    margin: 0 auto;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.32);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease;
}

/* 2-1-3. 배너슬라이드 */
.slide_cont {
    width: 100%;
    max-width: 905px;
    margin: 0 auto;
    position: absolute;
    bottom: 24.5%;
    left: 0;
    right: 0;
    z-index: 10;
}
.prev_btn {
    cursor: pointer;
    float: right;
    width: 100%;
    max-width: 5.5%;
}
.prev_btn img {
    max-width: 100%;
}
.next_btn {
    cursor: pointer;
    float: right;
    width: 100%;
    max-width: 5.5%;
    margin-left: 1.4%;
}
.next_btn img {
    max-width: 100%;
}

/***** 2-2. 섹션2 *****/
.contens_con2 {
    width: 100%;
    height: 100%;
}














/***** 2-4. 섹션4 *****/
.contens_con4 {
    position: relative;
    max-width: 1200px;
    height:calc(100vh - 106px);
    margin: 0 auto;
}
.contens_con4 .contents {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* 2-4-1. 공지사항 제목 */
.contens_con4 .tit {
    text-align: center;
}
.contens_con4 .tit span {
    display: block;
    font-size: 50px;
    color: #000000;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0.25px;
    /* font-family: "Gotham", sans-serif; */
    font-family:"Poppins", sans-serif;
}
/* 2-4-2. 공지사항 네비 */
.contens_con4 .nav {
    /* height: 40px; */
    text-align: center;
}
.contens_con4 .nav ul {
    display: flex;
    justify-content: center;
}
.contens_con4 .nav ul li a{
    display: block;
    margin: 0 40px;
    padding: 10px;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.1px;
    font-family: "NotoSansKR", sans-serif;  
    border-bottom: 2px solid rgba(0, 0, 0, 0); /* 보더 바텀 투명색 지정 */
    
}
.contens_con4 .nav ul li:hover a{
border-bottom: 2px solid #af231c;
color: #af231c;
transition: 1s;
}
/* 2-4-3. 공지사항 더보기 버튼 */
.more_con {
    margin-top: 70px;
    text-align: right;
    /* margin: 45px 0 10px 0; */
    margin-bottom: 10px;
}
.more_btn {
    text-decoration: none;
    display: inline-block;
}
.more_btn span {
    font-size: 14px;
    color: #af231c;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-family: "Gotham", sans-serif;
    vertical-align: middle;
}
.more_btn img {
    display: inline-block;
    display: inline;
    zoom: 1;
    width: 34px;
    margin-left: 24px;
    vertical-align: middle;
}

/* 2-4-4. 공지사항 게시글 */
.notice li {
    border-bottom: 1px solid #555555
}
.notice li:first-child {
    border-top: 2px solid #000;
}
.notice li a {
    display: flex;
    align-items: center;
    padding: 25px 0;
    font-family: "Gotham", sans-serif;
    color: #555555;
}
.notice li .date {
    text-align: center;
    width: 150px;
    flex: 0 0 auto;
}
.notice li .date dt {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}
.notice li .date dd {
    font-size: 16px;
    margin-top: 10px;
}
.notice li .text {
    flex: 1;
    min-width: 0;
}
.notice li .text dt {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .4s color;
}
.notice li .text dd {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





/***** 2-5. 섹션5 *****/
.contens_con5 {
    position: relative;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.contens_con5 .contents {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.contens_con5 > .contents > ul {
    display: flex;
    justify-content: space-between;
}
.contens_con5 .contents .l_con {
    width: 100%;
    z-index: 1;
    position: relative;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.contens_con5 .contents .l_con .t_info {
    margin-bottom: 15px;
}
.contens_con5 .contents .l_con .t_info span {
    font-size: 34px;
    font-weight: 300;
    color: #1c1c1b;
    font-family:"NotoSansKR", sans-serif;
    line-height: 33.6px;
    letter-spacing: -0.1px;
}
.contens_con5 .contents .l_con .tit {
    margin-bottom: 40px;
}
.contens_con5 .contents .l_con .tit span {
font-size: 70px;
    color: #000000;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: -0.25px;
    font-family: "Gotham", sans-serif;
}
.contens_con5 .contents .l_con .des span {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.1px;
    font-weight: 500;
}
.contens_con5 .contents .l_con .download_con {
    margin-top: 80px;
}
.contens_con5 .contents .l_con .download_con ul {
    display: flex;
}
.contens_con5 .contents .l_con .download_con ul li {
    float: left;
    width: 49%;
    margin-left: 2%;
}
.contens_con5 .contents .l_con .download_con ul li:last-child {
    width: 64px;
}

.contens_con5 .contents .l_con .download_con a {
    display: block;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    text-align: center;
}
.contens_con5 .contents .l_con .download_con .qr_code{
    border: 1px solid #d6d6d6;
    cursor: pointer;
}
.contens_con5 .contents .l_con .download_con .fx {
    width: 24px;
    margin-right: 11px;
    vertical-align: middle;
    max-width: 100%;
}
.contens_con5 .contents .l_con .download_con span {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.25px;
    font-family: "Gotham", sans-serif;
    vertical-align: middle;
}
.contens_con5 .contents .r_con .img_wrap {
    width: 475px;
    height: 729px;
    background: url(../images/bg_phone_01.png);
}

/* 미디어쿼리 */
@media screen and (max-width:800px) {
    html,body{
        overflow: visible;
    }

    .section.ibx {
        height: 600px;
        padding-top: 0;
    }
}