@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgba(10,20,20,1),rgba(0,16,54,0.9));
  }
  #local {
    width: 100%;  /* let our container decide our size */
    height: 100%;
    display: block;
  }

  #info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: green;
  }